<div class="row mt-5">
        <div class="col-lg-4 px-3">
                <app-uf-chart></app-uf-chart>
        </div>
        <div class="col-lg-4 px-3">
                <app-ivp-chart></app-ivp-chart>
        </div>
        <div class="col-lg-4 px-3">
                <app-dolar-chart></app-dolar-chart>
        </div>
</div>
<div class="row">
        <div class="col-lg-4 px-3">
                <app-euro-chart></app-euro-chart>
        </div>
        <div class="col-lg-4 px-3">
                <app-bitcoin-chart></app-bitcoin-chart>
        </div>
        <div class="col-lg-4 px-3">
                <app-dolar-intercambio-chart></app-dolar-intercambio-chart>
        </div>
</div>
<div class="row">
        <div class="col-lg-4 px-3">
                <app-imacec-chart></app-imacec-chart>
        </div>
        <div class="col-lg-4 px-3">
                <app-ipc-chart></app-ipc-chart>
        </div>
        <div class="col-lg-4 px-3">
                <app-libra-cobre-chart></app-libra-cobre-chart>
        </div>
</div>
<div class="row">
        <div class="col-lg-4 px-3">
                <app-tasa-desempleo-chart></app-tasa-desempleo-chart>
        </div>
        <div class="col-lg-4 px-3">
                <app-tpm-chart></app-tpm-chart>
        </div>
        <div class="col-lg-4 px-3">
                <app-utm-chart></app-utm-chart>
        </div>
</div>